

.card{
  background-color: #fff;
  border-radius: 8px ;
  /* border: 2px solid green; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 5px;
  width:   30vw;
  height: 500px;
}

.card-title p{
    font-weight: bold;
}
.card a{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.card a button{
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  
  
}



